{% extends "base.html" %}

{% block title %}
<title>Home Page</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1>File Converter</h1>
    <p>Upload a file to convert:</p>
    <form method="POST" action="{{ url_for('converter') }}" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <div id="loadingSpinner" style="display:none; margin-top:30px;">
        <div class="spinner"></div>
        <p>Uploading...</p>
    </div>
</div>

{% block scripts %}
<script src="/static/scripts/script.js"></script>
{% endblock %}
{% endblock %}